---
const today = new Date()
---

<footer class="text-center">
  <p>&copy; Copyright {today.getFullYear()}, Okuto Oyama</p>
  <p>
    Source :
    <a
      href="https://github.com/yamanoku/archives/"
      target="_blank"
      rel="noopener">yamanoku/archives</a
    >
  </p>
</footer>
