name: OGP Dependencies Checker

on:
  pull_request:
    types: [opened, synchronize, labeled]

jobs:
  build:
    # プルリクエストに dependencies ラベルを付けたとき
    # dependencies ラベルがついている状態で、 Push したとき
    if: |
      ((github.event.action == 'labeled') &&
        (github.event.label.name == 'ogp-dependencies')) ||
      ((github.event.action == 'synchronize') &&
        contains(github.event.pull_request.labels.*.name, 'ogp-dependencies'))

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node-version: [latest]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm ci
        run: npm ci
      - name: Test
        run: npm run test
        env:
          CI: true
