name: OGP Dependencies Checker

on:
  pull_request:
    types: [opened, synchronize, labeled]

jobs:
  build:
    # プルリクエストに dependencies ラベルを付けたとき
    # dependencies ラベルがついている状態で、 Push したとき
    if: |
      ((github.event.action == 'labeled') &&
        (github.event.label.name == 'ogp-dependencies')) ||
      ((github.event.action == 'synchronize') &&
        contains(github.event.pull_request.labels.*.name, 'ogp-dependencies'))

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node-version: [latest]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm ci
        run: npm ci
      - name: Test
        run: npm run test
        env:
          CI: true
